@use '../../utilities/responsive';
@use '../../components/buttons' as button;

.about {
  background-color: var(--color-light);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-m);
    
    // 640px
    @include responsive.max(40rem) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap-sm);
    }

  }

  &__social {
    @include responsive.max(64rem) {
      margin-top: 0;
    }
  }

  &__menu-contact {
    // 640px
    @include responsive.max(40rem) {
      text-align: center;
    }
    & p {
      font-size: clamp(.7rem, 2vw, 2.5rem);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    max-width: 30rem;
  }

  &__title {
    font-size: clamp(1rem, 4vw, 4rem);
    margin: 0;
    // 640px
    @include responsive.max(40rem) {
      text-align: center;
    }
  }

  &__text {
    font-size: clamp(0.6rem, 1.5vw, 2rem);
    line-height: 1.66;
  }

}

#about__showPdf {
  @include button.default();
  // 640px
  @include responsive.max(40rem) {
    align-self: center;
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;;
  gap: var(--gap-sm);
  // 640px
  @include responsive.max(40rem) {
    gap: var(--gap-s);
  }

  &__link {
      background-color: var(--color-dark);
      display: flex;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s;

      @include responsive.max(384px) {
        height: 35px;
        width: 35px;
      }

      &:hover {
          background-color: var(--color-accent);
      }
  }
}
