@use '../../utilities/responsive';

.about {
    background-color: var(--color-light);

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-m);
        // 1024px
        @include responsive.max(64rem) {
            display: grid;
        }
    }

    &__social {
        margin: 2rem;
    }

    &__content {
        max-width: 38.75rem;
    }

    &__title {
        font-size: clamp(1.8rem, 5vw, 6rem);
        margin: 0;
    }

    &__text {
        font-size: clamp(.8rem, 2vw, 3rem);
        line-height: 1.66;
    }
}