.hero {
    min-height: 100vh;
    &__inner {
        display: flex;
        align-items: center;   
    }
    &__title {
        font-size: var(--font-big);
        margin: 0;
    
        & span{
            color: var(--color-red);
        }
    }
    &__description {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-dark-600);
        margin: -0.2rem 0 0 0.3rem;

        & span {
            color: var(--color-light);
        }
    }
    &__content {
        color: var(--color-light);
    }
}
