@use '../../utilities/responsive';

/* Projects */
.projects {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    
    @include responsive.max(64rem) {
      margin-bottom: 1rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--gap-xxl) var(--gap-l);
    text-align: justify;

    @include responsive.max(916px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: var(--gap-l) var(--gap-l);
    }
  }

  &__title {
    color: var(--color-light);
    font-weight: 700;
    margin-top: 0;
    font-size: clamp(1.5rem, 3vw, 3rem);
  }
}

/* Project */
.project {
  display: flex;
  flex-direction: column;

  &__header {
    order: 2;
  }
  &__details {
    position: relative;
    order: 1;
    margin-bottom: 2.4rem;
  }
  &__content {
    order: 3;
    & p {
      color: var(--color-dark-600);
      line-height: 1.33;
      font-size: clamp(0.8rem, 1vw, 2rem);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 4;
  }
  &__title {
    color: var(--color-light);
    margin: 0;
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
  &__image img {
    display: block;
  }
  &__meta {
    background-color: var(--color-light);
    position: absolute;
    padding: 0.5rem 1rem 0.6rem;
    font-weight: 700;
    bottom: 16px;
    left: -16px;
  }
  &__permalink {
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-weight: 700;
    transition: color 0.2s;
    &:hover {
      color: var(--color-light);
    }
  }
}
