:root {
  --section-gap: 8rem;
  --section-gap-inner: calc(var(--section-gap) * 0.75);
  --gap-xxl: 5rem;
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-sm: 1.4rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 13%);
  --color-dark-200: hsl(0, 0%, 27%);
  --color-dark-300: hsl(0, 0%, 40%);
  --color-dark-500: hsl(0, 0%, 53%);
  --color-dark-600: hsl(0, 0%, 62%);
  --color-dark-700: hsl(0, 0%, 71%);
  --color-dark-800: hsl(0, 0%, 84%);
  --color-dark-900: hsl(0, 0%, 95%);
  --color-accent: hsl(0, 89%, 51%);
  --color-accent-200: hsl(0, 89%, 55%);
  --color-accent-300: hsl(0, 89%, 60%);
  --color-accent-400: hsl(0, 89%, 65%);
  --color-accent-500: hsl(0, 89%, 70%);
  --color-accent-600: hsl(0, 89%, 75%);
  --color-accent-700: hsl(0, 89%, 80%);
  --color-accent-800: hsl(0, 89%, 85%);
  --color-accent-900: hsl(0, 89%, 90%);
  --color-light: hsl(46, 100%, 97%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 55%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-sans: "fieldwork", sans-serif;
  --font-serif: "Georgia", serif;
  --line-height: 1.5;
  --font-big: 10.125rem;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-sizes: 3rem;
  --font-scales: 1.5;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
  --font-size-7: calc(var(--font-sizes) * var(--font-scales));
  --font-size-8: calc(var(--font-size-7) * var(--font-scale));
  --font-size-9: calc(var(--font-size-8) * var(--font-scale));
  --font-size-10: calc(var(--font-size-9) * var(--font-scale));
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  font-family: var(--font-sans);
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0.5em 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

p, a, li {
  color: var(--color-dark-600);
  line-height: var(--line-height);
  font-size: var(--font-size-1);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a.arrow-link {
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  transition: color 0.2s;
}
a.arrow-link:hover {
  color: var(--color-dark);
}
a.arrow-link:hover svg {
  transform: translate(0.5rem, 0.15rem);
}
a.arrow-link svg {
  transform: translate(0, 0.15rem);
  transition: transform 0.2s;
}
a.arrow-link--white line {
  stroke: var(--color-light);
}
a.arrow-link--white:hover {
  color: var(--color-light);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--gap-sm);
}
.social__link {
  background-color: var(--color-dark);
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.social__link:hover {
  background-color: var(--color-accent);
}

.scroll-up {
  position: fixed;
  right: 64px;
  bottom: 64px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0;
  background: var(--color-light);
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-up:hover {
  background-color: var(--color-accent);
}

.hero,
.work,
.projects,
.about {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(2rem, 1fr);
}
@media screen and (max-width: 64rem) {
  .hero,
  .work,
  .projects,
  .about {
    padding: 6rem;
  }
}

.hero__inner,
.work__inner,
.projects__inner,
.about__inner {
  grid-column: inner;
}

.header {
  position: fixed;
  background-color: var(--color-dark);
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: grid;
}
.header__inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
.menu__link {
  color: var(--color-light);
  transition: color 0.2s;
}
.menu__link:hover {
  color: var(--color-accent);
}
.menu__item--current {
  font-weight: 700;
}
.menu__item--buttom .menu__link {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: 700;
  padding: 0.5rem 1rem 0.6rem;
  display: block;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.menu__item--buttom .menu__link:hover {
  background: var(--color-dark);
  color: var(--color-light);
  border: 2px solid var(--color-light);
}

.footer {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer__content {
  color: var(--color-light-600);
}

.about {
  background-color: var(--color-light);
}
.about__inner {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
}
@media screen and (max-width: 64rem) {
  .about__inner {
    display: grid;
  }
}
.about__social {
  margin-top: 1rem;
}
.about__content {
  max-width: 38.75rem;
}
.about__title {
  margin: 0;
}
.about__text {
  font-size: var(--font-size-3);
  line-height: 1.66;
}

.hero {
  min-height: 100vh;
}
.hero__inner {
  display: flex;
  align-items: center;
}
.hero__title {
  font-size: var(--font-size-10);
  margin: 0;
}
.hero__title span {
  color: var(--color-accent);
}
@media screen and (max-width: 64rem) {
  .hero__title {
    font-size: var(--font-size-8);
  }
}
.hero__description {
  font-size: var(--font-size-3);
  font-weight: 400;
  color: var(--color-dark-600);
  margin: -0.2rem 0 0 0.3rem;
}
.hero__description span {
  color: var(--color-light);
}
.hero__content {
  color: var(--color-light);
}

/* Projects */
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: var(--gap-xxl) var(--gap-l);
}
.projects__title {
  color: var(--color-light);
  font-weight: 400;
  margin-top: 0;
}

/* Project */
.project {
  display: flex;
  flex-direction: column;
}
.project__header {
  order: 2;
}
.project__details {
  position: relative;
  order: 1;
  margin-bottom: 2.4rem;
}
.project__content {
  order: 3;
}
.project__content p {
  color: var(--color-dark-600);
  line-height: 1.33;
}
.project__footer {
  order: 4;
}
.project__title {
  color: var(--color-light);
  margin: 0;
}
.project__image img {
  display: block;
}
.project__meta {
  background-color: var(--color-light);
  position: absolute;
  padding: 0.5rem 1rem 0.6rem;
  font-weight: 700;
  bottom: 16px;
  left: -16px;
}
.project__permalink {
  font-weight: 700;
  transition: color 0.2s;
}
.project__permalink:hover {
  color: var(--color-light);
}

.work {
  background-color: var(--color-light);
}
.work__header {
  margin-bottom: var(--gap-xxl);
  max-width: 40rem;
}
.work__title {
  margin: 0;
}
.work__text {
  font-size: var(--font-size-3);
  line-height: 1.66;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: var(--gap-m);
}
.gallery__item {
  overflow: hidden;
}
.gallery__item:hover .gallery__image {
  transform: scale(1.5);
}
.gallery__item:nth-of-type(3) {
  grid-row: span 2;
}
.gallery__item:nth-of-type(3):nth-of-type(4) {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery .gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
