* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  font-family: var(--font-sans);
  // overflow-x: hidden;
}

.container {
  width: auto;
  height: 100%;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}
