@use '../utilities/responsive';

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0.5em 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1rem;
}

p,
a,
li {
    color: var(--color-dark-600);
    line-height: var(--line-height);
    font-size: var(--font-size-2);
    font-family: 'AmericanTypewriter-Bold';
}

a {
    color: var(--color-accent);
    text-decoration: none;

    &.arrow-link {
        font-size: clamp(.8rem, 1vw, 1.5rem);
        display: flex;
        align-items: center;
        gap: var(--gap-s);
        transition: color 0.2s;
        @include responsive.max( 1024px ) {
            justify-content: center;
        }

        &:hover {
            color: var(--color-dark);

            & svg {
                transform: translate(0.5rem, 0.15rem);
            }
        }

        & svg {

            transform: translate(0, 0.15rem);
            transition: transform 0.2s;
            width: clamp(.8rem, 2vw, 3rem);
        }
    }

    &.arrow-link--white line {
        stroke: var(--color-light);
    }

    &.arrow-link--white:hover {
        color: var(--color-light);
    }
}

.scroll-up {
    position: fixed;
    right: 64px;
    bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid var(--color-dark-200);
    background: var(--color-light);
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive.max(40rem) {
        right: 20px;
    }

    &:hover {
        background-color: var(--color-accent);
    }
}