.header {
    position: fixed;
    background-color: var(--color-dark);
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: grid;

    &__inner {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}