.menu {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: var(--gap-l);
    }
    &__link {
        color: var(--color-light);
        transition: color 0.2s;
        &:hover {
            color: var(--color-accent);
        }
    }
    &__item--current{
        font-weight: 700;
    }
    &__item--buttom &__link {
        background-color: var(--color-light);
        color: var(--color-dark);
        font-weight: 700;
        padding: 0.5rem 1rem 0.6rem;
        display: block;
        border: 2px solid transparent;
        transition: all 0.2s;
        &:hover {
            background: var(--color-dark);
            color:var(--color-light);
            border: 2px solid var(--color-light)
        }
    }
}
